<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
<% if logged_in? %>

  <h1>Sube tu propiedad</h1>
  <%= form_for @propiedad do |f| %>

    <div class="field">
  <%= f.label :direccion %><br />
      <%= f.text_field :direccion %>
    </div>
    <div class="field">
  <%= f.label :precio %><br />
      <%= f.text_field :precio %>ididid
    </div>
    <div class="field">
  <%= f.label :descripcion %><br />
      <%= f.text_field :descripcion %>
    </div>
    <div class="field">
  <%= f.label :URLImagen %><br />
      <%= f.text_field :imagen %>
    </div>
    <div class="field">
       <%= f.hidden_field :usuario_id, :value => session[:usuario_id] %>
    </div>
    <div class="actions"><%= f.submit "Registrar" %></div>
  <% end %>
<% end %>
                  </div>
                </div>
            </div>
        </div>
    </header>

