<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">   Precio: $<%= @propiedad.precio %></h1>
                        <p class="intro-text">   Arrendador: <%= Usuario.find_by_id(@propiedad.usuario_id).nombre %></p>
                        <p class="intro-text">    Direccion: <%= @propiedad.direccion %></p>
                        <p class="intro-text">  Descripción: <%= @propiedad.descripcion %></p>   
                        <p class="intro-text">  Imagen: <%= @propiedad.imagen %></p>   
                        <p class="intro-text">     Apartada: <%= @propiedad.apartada %></p>
                        <br>
                        <% @p_comments.each do |p_comment| %>
                              <tr>
                                <td> Comentario: <%= p_comment.content %></td>
                                <td> Calificacion: <%= p_comment.califiacion %></td>
                              </tr>                          
                        <% end %>  
                        <br>
                        <%= link_to "Haz commentario", root_url %>  
                        <%= link_to "Ver propiedades", root_url %>
                    </div>
                </div>
            </div>
        </div>
</header>