<h1>Precio: $<%= @propiedad.precio %></h1>
<br>
Arrendador: <%=@propiedad.arrendador %>
<br>
Direccion: <%=@propiedad.direccion %>
<br>
Descripcion: <%=@propiedad.descripcion %>
<p>
  <%= link_to "Ver propiedades", propiedades_path %>
</p>