<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
      <% if logged_in? %>
          <% if Usuario.find_by_id(session[:usuario_id]).id == message.usuario1_id ||  Usuario.find_by_id(session[:usuario_id]).id == message.usuario2_id  %>
            <td><%= Usuario.find_by_id(message.usuario1_id).nombre %></td>
            <td><%= Usuario.find_by_id(message.usuario2_id).nombre %></td>
            <td><%=  %></td>
            <td> Contenido: <%= message.content %></td>
          <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
