<%= form_with(model: propiedad, local: true) do |form| %>
  <% if propiedad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(propiedad.errors.count, "error") %> prohibited this propiedad from being saved:</h2>

      <ul>
      <% propiedad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio, id: :propiedad_precio %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :propiedad_direccion %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :propiedad_descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
